
footer
    .fluid_container.c12.w1110.g30
        .fluid_4
            h3 Connect With Us
            span.icon.icon-instagram
            span.icon.icon-facebook
            span.icon.icon-twitter
            span.icon.icon-youtube
        .fluid_4
            h3 Contact
            | Email: 
            a(href='mailto:{{site.email}}') {{site.email}}
            br
            | Call: {{site.phone}}
            br
            | Twitter: @{{site.twitter_username}}
        .fluid_4
            h3 Legal
            | Registered trademark of Gelarto Ltd 
            br
            | &copy; #{new Date().getFullYear()} All Rights Reserved.
            br
            a(href='{{site.baseurl}}/privacy-policy/') Privacy Policy
            |  and 
            a(href='{{site.baseurl}}/terms-and-conditions/') Terms &amp; Conditions

script(src='//unpkg.com/handlebars@4.1.2/dist/handlebars.min.js', integrity='sha384-r11LwXDT+FAqmjJLLg2EjmzYbSlNCeRywaNcD0DXcBVzhR+7ieOvEc3SDpcujOJu', crossorigin='anonymous')
script(src='//unpkg.com/vanilla-lazyload@12.0.0/dist/lazyload.min.js', integrity='sha384-1QSr/kUTkfU+uowxq7g1kSt4YZlCGByoOVyjSE4oOUhtTKz1SmvBW/b0nTIEv0/I', crossorigin='anonymous')
script(src='//unpkg.com/leaflet@1.5.1/dist/leaflet.js', integrity='sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og==', crossorigin='anonymous')
link(href='//unpkg.com/leaflet@1.5.1/dist/leaflet.css', integrity='sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==', crossorigin='anonymous', rel='stylesheet')
script(defer='defer', src='{{site.baseurl}}/assets/js/bundle.js')
script(src='//instant.page/3.0.0', type='module', defer='defer', integrity='sha384-OeDn4XE77tdHo8pGtE1apMPmAipjoxUQ++eeJa6EtJCfHlvijigWiJpD7VDPWXV1')