---
layout: hero
title: What We Make
permalink: /what-we-make/
banner: false
colour: what_we_make
hero:
    image: what-we-make2
    text: 36 fab flavours
    white_splash: fresh and delicious as the day it was made
    pink_splash: Fresh milk <br> from our farm
---
<blockquote>
    <h1>"Anyone can make gelato. To make the best gelato is the goal."</h1>
    <div class="name">Luca Grassi, Founder and Gelato Master</div>
</blockquote>
<div class="spacer"></div>
<div class="text_columns">
    <p>Italians believe that the pursuit of food excellence is an art form in itself. If that is true, then Luca is as much an artist as any Italian master you care to mention.  <br />
Luca has been carefully crafting our award winning gelato in Turin, Italy since 1986 and along the way, we have been awarded titles 'Maestri' and 'Oltre i Maestri del Gusto' for our 'quality without compromise' approach.</p>
    
    <p>We use nothing but the finest ingredients, fresh or whole fruit wherever possible blended with pure, crisp Piemonte water or creamy, fresh milk from our own herd of dairy cows, while the only preservative we ever use is very cold air.<br />
So you can be confident our award winning Ice cream and Sorbet tastes as fresh and delicious as the day it was made.<br />
With thirty years of gelato making experience and nearly four hundred years of Italian know-how behind us, this is pure, indulgent deliciousness from the 'old country'.</p>
</div>