
.woodgrain
    .fluid_container.c12.w1110.g30
        .fluid_12
        .fluid_12
            .posts
                .post
                    img(src="{{site.baseurl}}/assets/images/news/store.jpg")
                    h3 Willmington
                    .meta Opening November 2019
                    .content 
                        p Lorem ipsum dolor sit amet consectetur adipiscing elit class, magna primis dapibus erat tempus vitae etiam natoque rutrum, nam nibh sagittis a cursus convallis eget. Odio rhoncus ante hendrerit ligula libero cum class congue, cursus hac eros aenean natoque luctus fringilla, montes nec arcu dictum commodo volutpat curae. Fusce sociosqu cursus purus eu felis elementum a, sagittis nam nisi class nostra etiam, praesent montes iaculis ligula morbi donec.
        .fluid_12