---
layout: polaroid
title: Our History
permalink: /about/our-history/
banner: false
colour: about_us
static_banner: our-history
hero:
    image: our-history
images:
    - assets/images/responsive/static/350_gotto_nero.jpg
    - assets/images/responsive/static/350_la_famiglia.jpg
    - assets/images/responsive/static/350_staff_davanti.jpg
    - assets/images/responsive/static/350_bw1.png
    - assets/images/responsive/static/350_bw2.png
    - assets/images/responsive/static/350_cartoon.png
---

<div class="fluid_container c12 w1110 g30">
    <div class="fluid_6">
        <p>Our passion for gelato goes back to the 1950s when Luca Grassi's parents owned Turin's first two-starred Michelin restaurant, Il Gatto Nero (The Black cat).<br />
        Ciro &amp; Rina Grassi developed gelato as a dessert option at The Black Cat which became so popular, they were soon supplying the local competition.</p>
        
        <p>By 1986, Luca had noticed that although gelato was popular in Turin, sorbet was still seen as a French speciality and was not widely available. Luca started 'Menodiciotto' as a manufacturing company of high quality sorbets to supply Turin's thriving restaurant trade.<br />
        His priority over 30 years has been to make 'artisan-quality' gelato on a big scale, using local Italian fruit and fresh ingredients rather than the industrial gelato products favoured by other brands.</p>
    </div>
    <div class="fluid_6">
        <p>An early partnership with Turin's Slow Food movement helped Luca source quality ingredients from further away while investing time into our growing herd of over 200 dairy cows, each one named and cared for by Luca's daughter Marzia.</p>
        
        <p>Finally, our gelato is blended and slow churned, which reduces the added air content making it taste rich and creamy despite having half the fat of regular ice cream.<br />
        Luca's number one rule applies as much today as it did in 1986 and you can be sure we will never compromise the quality of our gelato for a little extra profit.<br />
        We think the result speaks for itself and are proud to call our gelato, The World's Tastiest'.</p>
    </div>
</div>