header
    .logo_container
        @media (max-width: $screen-sm)
            text-align: center
        h1
            display: inline-block
            a
                font-size: 120px
                text-decoration: none
                color: #da9800

    nav
        display: block
        width: 100%

    @media (max-width: $screen-sm)
        nav
            margin-bottom: 20px
