nav
    > ul
        display: flex
        flex-wrap: wrap
        justify-content: space-around
        align-items: center
        width: 100%
        list-style: none
        @media (max-width: $screen-sm)
            display: none
        > li
            text-align: center
            position: relative
            list-style: none
            @media (max-width: $screen-sm)
                width: 100%
            a
                display: block
                text-decoration: none
                @media (max-width: $screen-sm)
                    display: flex
                    margin-top: 10px
                .image
                    position: relative
                    z-index: 5
                    @media (max-width: $screen-sm)
                        position: absolute

                .title
                    color: #000
                    font-family: Adler
                    font-size: 120%
                    @media (max-width: $screen-sm)
                        margin-left: 36px
                        padding: 10px 0 0 10px
            &:hover ul.dropdown
                display: block
            ul.dropdown
                position: absolute
                display: none
                z-index: 4
                margin: 0
                padding: 10px 0
                background: #fff
                box-shadow: 4px 4px 5px 0 rgba(0, 0, 0, .28)
                border-bottom: 4px solid #000
                font-family: Adler
                //border-bottom-color: attr(data-colour color)

                left: 50%

                --width: 200px
                width: var(--width)
                margin-left: calc(var(--width) / 2 * -1)
                @media (max-width: $screen-sm)
                    position: relative
                    left: 0
                    width: auto
                    padding-top: 0
                    margin: 0
                    background: none
                    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0)
                li
                    margin: 0
                    padding: 0
                    list-style: none
                    a
                        color: #000
                        padding: 5px 0
                        display: block
                        font-size: 16px
                        &:hover
                            background: #f5f5f5
                        @media (max-width: $screen-sm)
                            padding-left: 46px
                            text-align: left

            &.home
                &:hover,
                &.active
                    .image
                        background-color: $home
                ul.dropdown
                    border-bottom-color: $home
            &.what_we_make
                &:hover,
                &.active
                    .image
                        background-color: $what_we_make
                ul.dropdown
                    border-bottom-color: $what_we_make
            &.about_us
                &:hover,
                &.active
                    .image
                        background-color: $about_us
                ul.dropdown
                    border-bottom-color: $about_us
            &.trade
                &:hover,
                &.active
                    .image
                        background-color: $trade
                ul.dropdown
                    border-bottom-color: $trade
            &.community
                &:hover,
                &.active
                    .image
                        background-color: $community
                ul.dropdown
                    border-bottom-color: $community

    label.show_menu
        display: none
        font-size: 150%
        color: #000
        font-family: Adler
        &::before
            margin-right: 10px
        @media screen and (max-width:  $screen-sm)
            display: block

    input[type='checkbox']
        display: none

    input[type='checkbox']:checked ~ ul
        display: flex
