=sprite($x, $y, $width, $height, $scale: 1, $sprite-width: 303, $sprite-height: 68)
    background-position: #{$scale * $x}px #{$scale * $y}px
    background-size: #{$scale * $sprite-width}px #{$scale * $sprite-height}px
    width: #{$scale * $width}px
    height: #{$scale * $height}px


html.webp
    nav ul .image
        background-image: url('../images/sprite.webp')

html.no-webp,
html.no-js
    nav ul .image
        background-image: url('../images/sprite.png')




nav ul
    li
        .image
            background-repeat: no-repeat
            position: relative
            display: inline-block
            overflow: hidden

        &.home .image
            +sprite(0, 0, 63, 68)
        &.what_we_make .image
            +sprite(-66, 0, 36, 68)
        &.about_us .image
            +sprite(-104, 0, 52, 68)
        &.trade .image
            +sprite(-160, 0, 79, 68)
        &.community .image
            +sprite(-240, 0, 63, 68)

        @media (max-width: $screen-sm)
            &.home,
            &.what_we_make,
            &.about_us,
            &.trade,
            &.community
                overflow: hidden
                min-height: 40px

            &.home
                //min-height: 39px
                .image
                    +sprite(0, 0, 63, 68, .57)
            //&.what_we_make
                //min-height: 68px
            &.about_us
                //min-height: 49px
                .image
                    +sprite(-104, 0, 52, 68, .71)
            &.trade
                //min-height: 32px
                .image
                    +sprite(-160, 0, 79, 68, .46)
            &.community
                //min-height: 40px
                .image
                    +sprite(-238, 0, 63, 68, .58)
