---
---
body
    padding: 10px 0
    font-size: 18px
    color: #585858

a
    color: #585858

h1,
h2,
h3,
h4,
h5,
h6
    font-weight: normal

.spacer
    min-height: 30px

@import 'variables'

@media (max-width: $screen-sm)
    body
        font-size: 12px
    .spacer
        min-height: 15px
    .fluid_container.g30
        grid-gap: 15px

@media print
    body
        margin: 0
        padding: 0

@import 'font'
@import 'header'
@import 'navigation'
@import 'sprite'
@import 'banner'
@import 'page'
@import 'animate'
@import 'footer'
@import 'news'
@import 'hero'
@import 'polaroid'
