extends layout.pug

block content
    .generic_banner(style='background-image: url(\'{{site.baseurl}}/assets/images/banners/{{page.static_banner | default: \'default\'}}.jpg\');')
        h2(class='{{page.colour}}') {{page.title}}
        .text {{page.static_banner_text}}
        .white_splash.animated.bounceInDown {{page.static_banner_white}}
        .pink_splash.animated.bounceInLeft {{page.static_banner_pink}}
    article
        | {{content}}