doctype html
html(lang='en', class='no-js')
    head(prefix='og: http://ogp.me/ns#')
        include includes/head.pug
    body
        include includes/header.pug

        section(class='{{page.class}}', role='main')

            .woodgrain.page_images
                .fluid_container.c12.w1110.g30
                    .fluid_12
                        .polaroids
                            .polaroid.animated.bounceInLeft
                                picture
                                    source(srcset='{{site.baseurl}}/assets/images/polaroid/1.webp', type='image/webp')
                                    source(srcset='{{site.baseurl}}/assets/images/polaroid/1.jpg', type='image/jpg')
                                    img(src='{{site.baseurl}}/assets/images/polaroid/1.jpg')
                            .polaroid.animated.bounceInUp
                                picture
                                    source(srcset='{{site.baseurl}}/assets/images/polaroid/2.webp', type='image/webp')
                                    source(srcset='{{site.baseurl}}/assets/images/polaroid/2.jpg', type='image/jpg')
                                    img(src='{{site.baseurl}}/assets/images/polaroid/2.jpg')
                                img.italy(src='{{site.baseurl}}/assets/images/italy_heart.svg')
                                .caption
                                    h1 The team at Al Gatto Nero
                                    div Luca's parents - standing second from left, crouching middle.
                            .polaroid.animated.bounceInRight
                                picture
                                    source(srcset='{{site.baseurl}}/assets/images/polaroid/3.webp', type='image/webp')
                                    source(srcset='{{site.baseurl}}/assets/images/polaroid/3.jpg', type='image/jpg')
                                    img(src='{{site.baseurl}}/assets/images/polaroid/3.jpg')
                            h2(class='{{page.colour}}') {{page.title}}



            .fluid_container.c12.w1110.g30
                .fluid_12
                    | &nbsp;
                .fluid_12 {{content}}
                .fluid_12 
                    | &nbsp;


            | {% if page.images %}
            .woodgrain.page_images
                .fluid_container.c12.w1110.g30
                    .fluid_12
                    | {% for img in page.images %}
                    .fluid_4
                        img.lazy(data-src="{{site.baseurl}}/{{img}}", alt="")
                    | {% endfor %}
                    .fluid_12
            | {% endif %}
        include includes/footer.pug