doctype html
html(lang='en', class='no-js')
    head(prefix='og: http://ogp.me/ns#')
        include includes/head.pug
    body
        include includes/header.pug


        section(class='{{page.class}}', role='main')

            .fluid_container.c12.w1110.g30
                .fluid_12
                    .generic_banner(style='background-image: url(\'{{site.baseurl}}/assets/images/banners/{{page.static_banner | default: \'default\'}}.jpg\');')
                        h2(class='{{page.colour}}') {{page.title}}

            article
                .woodgrain
                    .fluid_container.c12.w1110.g30
                        .fluid_12
                        .fluid_12
                            | {{content}}
                        .fluid_12
        include includes/footer.pug